@{

    var wsito = 1000;

}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
         <title>Demo LB studios</title>
</script>
    </head>
    <body>
         <div align="center" width="@wsito">Ciao</div>
    </body>
</html>
