<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CartellaFoto" value="~/fotogallery"/>
    <add key="CartellaVideo" value="~/videogallery"/>
  </appSettings>
  <connectionStrings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms"/>
    <profile enabled="true" defaultProvider="XmlProvider">
      <providers>
        <clear/>
        <add name="XmlProvider" type="XmlProviders.XmlProfileProvider" dataStorePath="App_Data" applicationName="MyApp"/>
      </providers>
      <properties>
        <group name="DatiStudio">
          <add name="Telefono" type="System.String"/>
          <add name="Fax" type="System.String"/>
          <add name="Email" type="System.String"/>
          <add name="Indirizzo" type="System.String"/>
        </group>
        <group name="DatiFotogallery">
          <add name="Categorie" type="System.Data.DataTable" serializeAs="Xml"/>
          <add name="Fotografie" type="System.Data.DataTable" serializeAs="Xml"/>
        </group>
        <group name="DatiBiografia">
          <add name="Testobiografia" type="System.String"/>
        </group>
        <group name="DatiVideo">
          <add name="Categorie" type="System.Data.DataTable" serializeAs="Xml"/>
          <add name="Video" type="System.Data.DataTable" serializeAs="Xml"/>
        </group>
      </properties>
    </profile>
    <membership defaultProvider="XmlProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="XmlProvider" type="XmlProviders.XmlMembershipProvider" dataStorePath="App_Data" applicationName="MyApp" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Clear" maxInvalidPasswordAttempts="3" passwordAttemptWindow="5"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" defaultProvider="XmlProvider">
      <providers>
        <clear/>
        <add dataStorePath="App_Data" applicationName="MyApp" name="XmlProvider" type="XmlProviders.XmlRoleProvider"/>
      </providers>
    </roleManager>
    <!--<customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="~/error.aspx"/>-->
    <customErrors mode="Off"/>
    <mobileControls cookielessDataDictionaryType="System.Web.Mobile.CookielessData"/>
    <deviceFilters>
      <filter name="isJPhone" compare="Type" argument="J-Phone"/>
      <filter name="isHTML32" compare="PreferredRenderingType" argument="html32"/>
      <filter name="isWML11" compare="PreferredRenderingType" argument="wml11"/>
      <filter name="isCHTML10" compare="PreferredRenderingType" argument="chtml10"/>
      <filter name="isGoAmerica" compare="Browser" argument="Go.Web"/>
      <filter name="isMME" compare="Browser" argument="Microsoft Mobile Explorer"/>
      <filter name="isMyPalm" compare="Browser" argument="MyPalm"/>
      <filter name="isPocketIE" compare="Browser" argument="Pocket IE"/>
      <filter name="isUP3x" compare="Type" argument="Phone.com 3.x Browser"/>
      <filter name="isUP4x" compare="Type" argument="Phone.com 4.x Browser"/>
      <filter name="isEricssonR380" compare="Type" argument="Ericsson R380"/>
      <filter name="isNokia7110" compare="Type" argument="Nokia 7110"/>
      <filter name="prefersGIF" compare="PreferredImageMIME" argument="image/gif"/>
      <filter name="prefersWBMP" compare="PreferredImageMIME" argument="image/vnd.wap.wbmp"/>
      <filter name="supportsColor" compare="IsColor" argument="true"/>
      <filter name="supportsCookies" compare="Cookies" argument="true"/>
      <filter name="supportsJavaScript" compare="Javascript" argument="true"/>
      <filter name="supportsVoiceCalls" compare="CanInitiateVoiceCall" argument="true"/>
    </deviceFilters>
    <pages enableEventValidation="false" validateRequest="false" enableViewStateMac="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <httpRuntime maxRequestLength="102400" requestLengthDiskThreshold="102400" executionTimeout="18000"/>
    <globalization culture="it-IT" uiCulture="it-IT"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <location path="profilo.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="GalleriaImmagini.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="GalleriaVideo.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>